<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--  <style>-->
<!--    body {-->
<!--      background-color: black;-->
<!--      color: white;-->
<!--    }-->

<!--    .container {-->
<!--      background-color: transparent;-->
<!--    }-->
<!--  </style>-->
  <title></title>
</head>
<body>

<div class="container">
</div>
<router-outlet></router-outlet>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
