<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanban Board</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kanban Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/boards">Boards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>



<body class="container-fluid" style="width: 1400px; height: 1020px; margin-top: 20px">
<div class="container-xxl">
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal"
          (click)="openModalReal()">
    Create Task
  </button>
  <div class="row" style="display: flex; margin-left: auto; margin-right: auto">
    <div style="display: flex;" class="col py-3" *ngIf="currentBoard" cdkDropListGroup>
      <div *ngFor="let item of currentBoard?.taskLists" class="example-container" cdkDropList
           [cdkDropListData]="item.cards" (cdkDropListDropped)="drop($event, item)">
        <div class="example-list">
          <h2 style="display: flex; color: white">{{item.name}}</h2>
          <div class="example-box" *ngFor="let card of item.cards" cdkDrag>
            <div class="card text-white bg-danger mb-3" style="max-width: 320px;">
              <div class="card-body">
                <h5 class="card-title">{{card.title}}</h5>
                <p class="card-text">{{card.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

