<body class="container-fluid" style="width: 1400px; height: 1020px">
<div class="container-xxl">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
          (click)="openModalReal()">
    Create Task
  </button>
  <div class="row" style="display: flex; margin-left: auto; margin-right: auto">
    <div style="display: flex;" class="col py-3" *ngIf="currentBoard" cdkDropListGroup>
      <div *ngFor="let item of currentBoard?.taskLists" class="example-container" cdkDropList
           [cdkDropListData]="item.cards" (cdkDropListDropped)="drop($event, item)">
        <div class="example-list">
          <h2 style="display: flex; color: white">{{item.name}}</h2>
          <div class="example-box" *ngFor="let card of item.cards" cdkDrag>
            <div class="card text-white bg-danger mb-3" style="max-width: 320px;">
              <div class="card-body">
                <h5 class="card-title">{{card.title}}</h5>
                <p class="card-text">{{card.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

